.select2 {
    width: 100% !important;
}

.turno {
    height: 150px !important;
}


/* body {
	background-image: url("../images/bg.jpeg");
	background-position: left;
	background-repeat: no-repeat;
	background-position: scroll;
} */

body {
    background: url(/images/bg.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}